!!! 5
%html{:lang => 'en'}
	%head
		%meta{:charset => 'utf-8'}
		%link{:rel => 'icon', :href => 'images/icon.png', :type => 'images/png'}
		%link{:rel => 'shortcut icon', :href => 'images/icon.png', :type => 'images/png'}
		%link{:rel => 'stylesheet', :href => 'fonts/fonts.css', :title => 'Gameroom', :media => 'screen, projection', :type => 'text/css'}
		%link{:rel => 'stylesheet', :href => 'css/gameroomlincoln.css', :title => 'Gameroom', :media => 'screen, projection', :type => 'text/css'}
		%title GAMEROOM
	%body
		%div{:class => 'container'}
			%header
				%hgroup
					%h1 GAMEROOM
					%h2 Play the crap out of it.
					%h3 1709 O St. Lincoln NE 68508 402-438-7161
				%div{:class => 'window'}
					%canvas{:class => 'game'}
						%img{:src => '/images/gameover.png', :alt => 'Game Over', :class => 'gameover'}
				%div{:class => 'controls'}
			%hr{:class => 'divider'}
			%section
				%div{:class => 'page'}
					%div{:class => 'paper_top'}
					%div{:class => 'paper_middle'}
						%h2 What's New At The Gameroom:
						%hr
						%p{:class => 'description'} 1000's of Games, Game Systems, Movies, Music and MUCH MORE!!
						%hr
						%article
							%header
								%h3 12/06/10 Headline
							%section
								%p Lorem Ipsum...
							%footer
								%p Lorem Bottomus...
						%article
							%header
								%h3 12/06/10 Headline
							%section
								%p Lorem Ipsum...
							%footer
								%p Lorem Bottomus...
						%hr
						%hgroup{:class => 'repairs'}
							%h2 REPAIRS AVAILABLE!!
							%h3 Now offering computer repairs | Call 402-953-2858
						%hr
					%div{:class => 'paper_bottom'}
					%ul{:class => 'links'}
						%li
							%a{:href => 'http://www.facebook.com/gameroomlincoln', :class => 'facebook'} Facebook
						%li
							%a{:href => 'http://gameroomlincoln.tumblr.com', :class => 'rss'} RSS
				%div{:class => 'store_info'}
					%div{:class => 'coin_panel'}
						%h1 The Gameroom
						%address
							1709 O St. Lincoln NE 68508
						%h2 Questions 402-438-7161
						%h2 Repairs 402-953-2858
						%h3 Store Hours
						%p
							10a - 9p
							7 Days A Week
						%a{:href => 'mailto:questions@gameroomlincoln.com'} questions@gameroomlincoln.com
					%div{:class => 'sticker'}
						%p 1000's of Games, Game Systems, Movies, Music and MUCH MORE!!
				%div{:class => 'clear'}
			%hr{:class => 'divider'}